
layout: index
description: hiproxy is a lightweight proxy tool for Front-End developers based on Node.js that supports an NGINX-like configuration.
subtitle: A lightweight proxy tool for Front-End developers based on Node.js
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Lightweight and Extensible
      p.intro-feature-desc
        | hiproxy dependence on fewer libraries so you can install it quickly, developers can extend hiproxy to support with commands, instructions, and pages.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Reuse Existing Development Habits
      p.intro-feature-desc
        | Using hosts and Nginx style configuration, reuse the development, configuration habits. It's easy to learn and use.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-lock
      h3.intro-feature-title HTTPS Certificate Automatically Generate and Manage
      p.intro-feature-desc
        | hiproxy can generate root certificate and automatically generate the domain certificate.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-chrome
      h3.intro-feature-title Highly Integrated With the Browser
      p.intro-feature-desc
        | hiproxy will open a new browser window and automatically configure the agent for you.
