
layout: index
description: hiproxy is a lightweight proxy tool for Front-End developers based on Node.js that supports an NGINX-like configuration.
subtitle: Lightweight & Extensible Proxy base on Node.js
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title Lightweight & extensible
      p.intro-feature-desc
        | Hiproxy is a lightweight proxy with few dependencies, quick installing, as well as extensible on commands and pages.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title Keep your habits
      p.intro-feature-desc
        | Keep used to configure in *hosts* or *Nginx* style. Easy to learn, and keep relax in using.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-lock
      h3.intro-feature-title Generate Certificate Automatically
      p.intro-feature-desc
        | Hiproxy can play the CA role with generated root certificate by itself. It can also generate certificates for each requesting domains.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-chrome
      h3.intro-feature-title Highly Integrated with Browsers
      p.intro-feature-desc
        | While hiproxy starts, it opens a new browser window and configure its proxy automatically. Such you would feel free.
