layout: index
description: hiproxy是一个基于Node.js开发的轻量级网络代理工具，主要目的是为了解决多个开发者在开发过程中遇到的hosts管理和反向代理的问题。
subtitle: 基于Node.js的轻量可扩展的代理工具
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bolt
      h3.intro-feature-title 轻量可扩展
      p.intro-feature-desc hiproxy是一个轻量级的代理工具，依赖的库比较少，安装快速，开发者可以对hiproxy进行扩展，支持扩展命令、指令和页面。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title 复用现有开发习惯
      p.intro-feature-desc 采用hosts和Nginx风格的配置，最大程度复用之前的开发、配置习惯。学习成本低，使用起来更加轻松。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title HTTPS证书自动生成与管理
      p.intro-feature-desc hiproxy可以扮演CA角色，生成根证书。并且能自动根据每次请求的域名信息，生成相对应的域名证书。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cog
      h3.intro-feature-title 跟浏览器高度融合
      p.intro-feature-desc hiproxy在启动服务的时候，可以贴心地打开一个新的浏览器窗口并自动配置好代理，省去了用户自己设置代理的步骤。
